#track, #try {
  display: none;
}

body {
  color: rgb(203, 208, 216);
  background-color: rgb(135, 162, 209);
}

.jumbotron {
  background-color: rgb(16, 48, 104);
}

.well {
  background-color: rgb(94, 98, 104);
}

#track {
  font-size: 20px;
}

.center {
  text-align: center;
}

.center a:link {
  font-weight: bold;
  color: rgb(206, 35, 0);
}

.center a:visited {
  color: rgb(48, 125, 247);
}

.center a:hover {
  background-color: #4d4d4d;
  border-radius: 3px;
}

.center a:active {
  background-color: #404040;
  border-radius: 3px;
}
